/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #58402c;
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 8px 20px;
  color: white;
  background-color: #30488f;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #233569;
  cursor: pointer;
}

.btn i {
  padding-right: 10px;
}

li:hover {
  cursor: pointer;
}

/* HEADER */

header {
  width: 1200px;
  margin: 0 auto;
}

header nav {
  width: 1200px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #58402c;
  position: fixed;
  z-index: 1;
  padding: 0 10px;
}

header nav .nav-right {
  display: flex;
  align-items: center;
}

header nav .nav-right li {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  padding: 15px;
}

header .jumbotron {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 100px;
}

header .jumbotron .jumbo-left {
  width: 45%;
}

header .jumbotron .jumbo-left h2 {
  font-size: 45px;
  line-height: 65px;
}

header .jumbotron .jumbo-left h3 {
  font-weight: normal;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

header .jumbotron .jumbo-right {
  width: 55%;
}

header .jumbotron .jumbo-right img {
  width: 100%;
}

/* MAIN */

.salmon-row {
  width: 100%;
  background-color: #ffe7d2;
}

.salmon-row .small-container {
  width: 900px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;
}

.salmon-row .small-container h2 {
  font-size: 35px;
  padding: 0 200px;
}

.salmon-row .small-container h3 {
  font-size: 25px;
  padding: 0 40px;
}

.salmon-row .small-container .division {
  margin-bottom: 70px;
  width: 100%;
  border-top: 1px solid #c9c9c9;
}

.salmon-row .small-container .box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.salmon-row .small-container img {
  width: 270px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.salmon-row .small-container .box {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.salmon-row .small-container .box img {
  max-width: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 30px;
}

.salmon-row .small-container .box .cat {
  width: 60px;
}

.salmon-row .small-container .box p {
  padding: 0 40px;
}

/*White row*/

.white-row {
  width: 100%;
  padding: 40px 0;
}

.white-row .left-row {
  width: 100%;
  display: flex;
  padding: 60px 0;
}

.white-row .left-row .left-row-left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.white-row .left-row .left-row-left img {
  width: 768px;
}

.white-row .left-row .left-row-right {
  width: 50%;
  padding-right: 20%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.white-row .left-row .left-row-right .right {
  position: relative;
  width: 270px;
  padding-left: 40px;
}

.white-row .left-row .left-row-right h3 {
  font-size: 25px;
}

.white-row .left-row .left-row-right p {
  font-size: 20px;
  padding: 30px 0;
}

.white-row .left-row .left-row-right a {
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 50px;
}

.white-row .right-row {
  width: 100%;
  display: flex;
  padding: 60px 0;
}

.white-row .right-row .right-row-left {
  width: 50%;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
}

.white-row .right-row .right-row-left .left {
  position: relative;
  width: 270px;
  left: 100px;
}

.white-row .right-row .right-row-left h3 {
  font-size: 25px;
}

.white-row .right-row .right-row-left p {
  font-size: 20px;
  padding: 30px 0;
}

.white-row .right-row .right-row-left a {
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 50px;
}

.white-row .right-row-right {
  width: 50%;
  position: relative;
}

.white-row .right-row-right img {
  width: 768px;
  left: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-area {
  width: 600px;
  margin: 50px auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 40px;
  text-align: left;
  font-size: 15px;
}

/* FOOTER */

.footer-container {
  width: 1200px;
  margin: 80px auto;
  display: flex;
}

.footer-container p {
  font-size: 16px;
  font-weight: bold;
}

.footer-container .footer-left {
  width: 35%;
  padding-right: 30px;
  display: flex;
  align-items: flex-start;
}

.footer-container .footer-left img {
  height: 50px;
}

.footer-container .footer-left p {
  padding: 0 30px;
}

.footer-container .footer-right {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.footer-container .footer-right .list {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
}

.footer-container .footer-right .list li {
  list-style: none;
  padding: 10px 0;
  font-size: 13px;
}

